altair==5.3.0
appdirs==1.4.4
atomicwrites==1.4.0
backports.weakref==1.0.post1
blinker==1.7.0
cachetools==5.3.3
clyent==1.2.1
cssselect==1.1.0
emoji==2.11.0
et-xmlfile==1.1.0
fonttools==4.25.0
gitdb==4.0.11
GitPython==3.1.43
inflection==0.5.1
ipyvizzu==0.17.0
jsonpointer==2.1
munkres==1.1.4
openpyxl==3.0.10
patsy==0.5.3
pep8==1.7.1
ply==3.11
protobuf==4.25.3
pyarrow==11.0.0
pyasn1-modules==0.2.8
pydeck==0.8.1b0
PyDispatcher==2.0.5
pyls-spyder==0.4.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
python-lsp-jsonrpc==1.0.0
scikit-learn==1.4.1.post1
seaborn==0.13.2
smmap==5.0.1
st-vizzu==0.1
streamlit==1.33.0
streamlit-vizzu==0.1.5
webencodings==0.5.1